@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700,900'); /** font-family: 'Montserrat', sans-serif; **/

body {
  background-color: #F5F6F4;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 4px;
  font-size: 42px;
  line-height: 59px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h6 {
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
}

.btn {
  color: black;
  border-radius: 30px;
  height: 50px;
  border: 2px solid #2EC4B6;
}

.btn:hover {
  color: #FF9F1C;
}

.card-header {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  letter-spacing: 4px;
  text-align: center;
  color: #011627;
  font-size: 24px;
  background: white;
  height: 30%;
}

.number-card {
  background: #2EC4B6;
  border: none;
  height: 200px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.num-body {
  margin-top: 12%;
}

.meal-card {
  background: #2EC4B6;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border: none;
}

.card-text {
  color: white;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
}

a:hover {
  color: white;
  text-decoration: none;
  opacity: 0.7;
}

.hidden {
  display: none;
}

.meal-tabs {
  color: gray;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 22fpx;
  padding-top: 10px;
  padding-bottom: 10px;
}

.ct {
  color: gray;
  padding-right: 5px;
}

.ct.active {
  color:black;
}

.ct:hover {
  color: black;
}

#main {
  overflow: scroll;
}
