body {
  font-family: 'Open Sans', sans-serif;
}

.header {
  font-family: 'Amatic SC', sans-serif;
  font-size: 80px;
  color: #FF9F1C;
  text-align: center;
}

.w3-sidebar {
  display: none;
}

.profile-item {
  vertical-align: center;
  padding-bottom: 16px;
  padding-top: 8px;
}

.prof-span {
  padding-bottom: 0px;
}

.close-nav {
  padding-top: 16px;
  padding-left: 8px;
  vertical-align: center;
  text-align: center;
}

.log-out {
  vertical-align: bottom;
  background-color: #E71D36;
  color: white;
  /* position:fixed; */
  position: absolute;
  bottom:0px;
}

.nav-item:hover {
  background-color: #2EC4B6;
  opacity: 0.5;
  color: black;
}

#pantry {
  height: 48px;
  width: 48px;
  float: right;
  padding: 4px;
}

#home {
  float: right;
  padding: 4px;
}
